.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about h1 {
  font-size: 4rem;
}

.about p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 2;
}

.about li {
  list-style-type: none;
}

.about img {
  border-radius: 10px;
  transition: 0.1s;
}

.about img:hover {
  cursor:pointer;
  transform: scale(1.05);
  box-shadow: 5px 3px 5px  grey;
  transition: 0.3s;
  animation: woble ease;
  animation-duration: .2s;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  align-items: center;
  padding-top: 3rem;
}

@keyframes woble {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 480px) {
  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
  }
  .about img {
    box-shadow: 5px 3px 5px  grey;
  }
}