* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(27, 20, 68);
}
html,
body {
  min-height: 100%;
}
body {
  background: rgb(240, 243, 241);
}

p {
  margin: 16px auto;
  line-height: 1.5rem;
}

.layout {
  max-width: 1200px;
  margin: 0 auto;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto;
}
nav .links {
  display: inline-block;
  text-align: right;
}
nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
  transition: 0.3s;
}
nav a:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

nav a:hover {
  border-color: rgb(101, 161, 4);
}
footer p {
  text-align: center;
  color: #bbb;
  margin: 40px auto;
}

@media screen and (max-width: 480px) {
  .nav-text {
    display: none;
  }
  nav .links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
  }
}