.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  align-items: center;
  min-height: 70vh;
}
.header h2 {
  font-size: 4em;
}
.header h3 {
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 50px;
}
.btn {
  display: inline-block;
  background: #d4c329;
  padding: 10px 16px;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: 500;
  transition: 0.1s;
}

.btn:hover {
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: 5px 3px 5px  grey;
  animation: woble .2s ease;
}

@keyframes woble {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 480px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    padding: 0.5rem;
  }
  .header h2 {
    font-size: 2em;
  }
  .header h3 {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 50px;
  }
}
